.cont_body3 {
  display: flex;

  flex-wrap: wrap;
  margin-top: -100px;
  margin: 100px;
  width: 100%;
}

.hundred3 > h1 {
  width: 400px;
  font-family: poppins;
  font-size: 100px;
  line-height: 90px;
  color: #0a1885;
}

.hundred3 > h2 {
  width: 400px;
  font-family: poppins;
  font-size: 100px;
  line-height: 120px;
  margin-top: -50px;
  color: #e59922;
  width: 500px;
}
